/* Home.css */
.home {
    background-color: #c2d6e1;
    padding: 20px;
  }
  
  .orderdetails-container {
    margin-bottom: 20px;
  }
  
  .orderdetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Add more styles as needed */
  