@font-face {
    font-family: "Montserrat-Bold";
    src: url(../../public/fonts/Montserrat-Bold.ttf);
  }
  .hidden {
    display: none;
  }
  
  .ServicesPics {
    background: linear-gradient(to top,  #AEB7C7, #F6F7F8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 175vh;
    
  }
  
  .Services {
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 105vh;
      
    }
    .Services img {
      width: 100%;
      height: 90vh;
      margin-left: 193%;
      margin-bottom: -25%;
      background-color: none;
    }
  @media screen and (min-width: 768px) {
    .Services h1{
      position: absolute;
      width: 39%;
      transform: translate(-50%, -50%);
      text-align: left; /* Center the text within the container */
      text-wrap: wrap;
      color:rgb(10, 42, 90);
      padding: 2rem 0;
      right: 36%;
      margin-top: 2%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 3.2rem;
      background-color: none;
    }
  }
    .Services h3{
      position: absolute;
      width: 25%;
      transform: translate(-50%, -50%);
      text-align: left; /* Center the text within the container */  
      padding: 1.5rem 0;
      right: 57%;
      font-size: 2.5rem;
      margin-top: 10%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 400;
      color: rgb(10, 42, 90);
      line-height: 1;
    }
   
  
    .Services p{
      position: absolute;
      width: 40%;
      transform: translate(-50%, -50%);
      text-align: left; /* Center the text within the container */  
      padding: 2rem 0;
      right: 34.5%;
      font-size: 1.5rem;
      margin-top: 25%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 200;
      color: rgb(10, 42, 90);
    }
    
    .Services h2 {
      font-family: 'Montserrat-Bold';
      color: #0f2242;
      position:absolute;
      font-size: 3.2rem;
      top: 135%;
      right: 36%;
      left:5%;
      width: 60%;
     
    }
    
    .Services h4{
      position: absolute;
      width: 25%;
      transform: translate(-50%, -50%);
      text-align: left; /* Center the text within the container */  
      padding: 1.5rem 0;
      right: 57%;
      font-size: 2.5rem;
      margin-top: 35%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      color: rgb(10, 42, 90);
      line-height: 1;
    }
  
    .Services button.reserve-button {
      position: absolute;
      width: 15%;
      transform: translate(-50%, -50%);
      text-align: center; /* Center the text within the container */  
      right: 57%;
      font-size: 2rem;
      margin-top: 39%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      color: rgb(30, 67, 122);
      left:13%;
      cursor: pointer; 
      background-color: #e9ba2b;
    }
    
    .Services .reserve-button:hover {
      background-color: #0f1a41;
      color: white;
    }
  
    .Serv {
      background: #0f1a41;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 70vh;
      width:100%;
    }
  
    @media screen and (min-width: 768px) {
      .Serv h5{
        position: absolute;
        
        transform: translate(-50%, -50%);
        text-align: center; /* Center the text within the container */
        text-decoration-line: underline;
        text-decoration-color: #AEB7C7;
        text-decoration: none; /* Remove the default underline */
        border-bottom: 2px solid white; /* Create a colored underline with a gap */
        color: white;
        padding-bottom: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.7rem;
        margin-bottom: 20%;
        margin-left: 12%;
        font-weight: 400;
      }
    }
  
    .Servimage-container {
      position: absolute;
      display: flex; /* Use Flexbox to create a row layout */
      justify-content: space-between; /* Distribute the images evenly in the row */
      margin-top: 54%;
    }
    
    .Servimage-container img {
      width: 10%; /* Ensure the images don't exceed the container's width */
      height: auto; /* Maintain the aspect ratio of the images */
      margin: 150px; /* Add some spacing between the images if needed */
    }
  
    .Servimage-container h6{
      position: absolute;
      width: 25%;
      transform: translate(-50%, -50%);
      text-align: left; /* Center the text within the container */  
      padding: 1.5rem 0;
      right: 54.5%;
      font-size: 1.8rem;
      margin-top: 26.5%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      color: white;
      line-height: 1;
    }
  
    .Servimage-container h5{
      position: absolute;
      width: 25%;
      transform: translate(-50%, -50%);
      text-align: left; /* Center the text within the container */  
      padding: 1.5rem 0;
      right: 17%;
      font-size: 1.8rem;
      margin-top: 26.5%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      color: white;
      line-height: 1;
    }
    .Servimage-container h7{
      position: absolute;
      width: 25%;
      transform: translate(-50%, -50%);
      text-align: left; /* Center the text within the container */  
      padding: 1.5rem 0;
      right: -15%;
      font-size: 1.8rem;
      margin-top: 26.5%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      color: white;
      line-height: 1;
    }
  
    .AboutContainer{
      background: linear-gradient(to top,  #AEB7C7, #F6F7F8);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 80vh;
    }
    .Mission {
     
      
      /* Adjust the alignment based on your layout */
      height: 70vh;
      /* You can remove margin-top */
    }
    
    .Mission h1 {
      border-bottom: 3px solid #e9ba2b;
      width: 10%;
      margin-left: 45%;
      margin-bottom: 2%;
      height:1px;
    }
    .Mission h2 {
      /* You can remove margin-left and margin-top */
      width: 100%;
      margin-top: 2%;
      font-size: 3rem;
      text-align: center;
      color:#0f1a41;
      
    }
    
    .Mission p {
      color: #080808;
      padding: 0rem 20rem;
      font-size: 1.5rem;
      text-align: center;
      /* You can remove margin-left and margin-top */
      
    }
    .Vision{
     
      
      /* Adjust the alignment based on your layout */
      height: 70vh;
      /* You can remove margin-top */
    }
    .Vision h1 {
      border-bottom: 3px solid #e9ba2b;
      width: 10%;
      margin-left: 45%;
      top: 3%;
      height:1px;
    }
    .Vision h2 {
      /* You can remove margin-left and margin-top */
      width: 100%;
      margin-top: 2%;
      margin-bottom: 2%;
      font-size: 3rem;
      text-align: center;
      color:#0f1a41;
      
    }
    
    .Vision p {
      color: #080808;
      margin-top: 2%;
      padding: 0rem 20rem;
      font-size: 1.5rem;
      text-align: center;
      
      
    }
  
  
  
    .Title{ 
      height: 70vh;
    }
  
    .Title h2 {
     
      width: 100%;
      margin-top: -50%;
      margin-bottom: 2%;
      font-size: 3rem;
      text-align: center;
      color:#f8f8f8;
      
    }
    .Title h1 {
      border-bottom: 3px solid #e9ba2b;
      width: 10%;
      margin-left: 45%;
      top: 3%;
      height:1px;
    }
    .Title p {
      color: #080808;
      margin-top: 2%;
      padding: 0rem 20rem;
      font-size: 1.5rem;
      text-align: center;
  
      
    }
    .Prices {
      background: #0f2242;
      height: 280vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .PriceImgContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
    }
    
    .PriceImgContainer img {
      width: 35%;
      height: auto;
      margin: 10px 10px; /* Adjust margin for spacing between images */
      margin-left: 58%;
    }
    
    .PricesTitle{ 
      height: 20vh;
    }
  
    .PricesTitle h2 {
     
      width: 100%;
      margin-top: -118%;
      
      font-size: 3rem;   
      color:#f8f8f8;
      margin-left: -20%;
    }
    
    .PricesWash{ 
      height: 20vh;
    }
    .PricesWash h2 {
     
      width: 20%;
      margin-top: -4%;
      border-radius: 5px;
      font-size: 2.5rem;   
      color:#ffffff;
      margin-left: 20%;
      font-weight: 100;
      background-color: #AEB7C7;
    }
  
    .Dryer{ 
      height: 20vh;
    }
  
    .Dryer h2 {
     
      width: 100%;
      margin-top: 30%;
      
      font-size: 3rem;   
      color:#f8f8f8;
      margin-left: -20%;
    }
    
    .PricesDryer{ 
      height: 20vh;
    }
    .PricesDryer h2 {
     
      width: 20%;
      margin-top: -5%;
      border-radius: 5px;
      font-size: 2.5rem;   
      color:#ffffff;
      margin-left: 20%;
      font-weight: 100;
      background-color: #AEB7C7;
    }
  
    .Truck{ 
      height: 20vh;
    }
    .Truck h2 {
     
      width: 100%;
      margin-top: 22%;
      
      font-size: 3rem;   
      color:#f8f8f8;
      margin-left: -20%;
    }
    
    .PricesTruck{ 
      height: 20vh;
    }
    .PricesTruck h2 {
     
      width: 20%;
      margin-top: -4%;
      border-radius: 5px;
      font-size: 2.5rem;   
      color:#ffffff;
      margin-left: 20%;
      font-weight: 100;
      background-color: #AEB7C7;
    }