/* Reservation.css */

.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #F6F7F8;
  }
  
  .reservation-container h1 {
    font-size: 3rem;
    color: #0c2146;
    margin-bottom: 1rem;
  }
  
  .reservation-container p {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  