.register {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register > input,
.register > .button {
    width: 100%; /* Adjust the width as needed */
    border-radius: 8px;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    outline: none;
}

.register > input {
    border: 2px solid #dddfe2;
    color: #1d2129;
}

.register > .button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}
